/* 字体图标设置 */
.iconfont,
.layui-icon {
    margin-right: 10px;
}
.layui-side .layui-side-scroll {
    width: 100%!important;
}
.layui-nav-item a {
    font-size: 13px;
}
/* 添加的用户头像信息区域 */
.userInfo {
    width: auto;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #282b33;
}
.layui-nav-img {
    width: 36px;
    height: 36px;
}
.text-img {
    /* display: inline-block; */
    display: none;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    background-color: #009688;
    border-radius: 50%;
    vertical-align: middle;
}
.welcome {
    font-size: 12px;
    vertical-align: middle;
}
/* 调整iframe大小 */
iframe {
    width: 100%;
    height: 100%;
}
/* 给父元素添加overflow :hidden; 去掉滚动条 */
.layui-body {
    overflow: hidden;
}
.layui-footer {
    color: #666;
    font-size: 12px;
    text-align: center;
}